<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiek.unipr.mostwantedapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MostWantedApp">
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SetProfileInvestigatorActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterInvestigatorActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".maps.report.SingleReportActivity"
            android:exported="false"
            android:label="@string/title_activity_single_report" />
        <activity
            android:name=".maps.MapsInformerActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_informer" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".profile.SetProfileUsersActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.PhoneSignInActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".GetStartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".maps.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity android:name=".update.UpdateMultipleUsers" />
        <activity android:name=".lists.LocationActivity" />
        <activity
            android:name=".update.UpdatePerson"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".lists.UserActivity" />
        <activity android:name=".lists.PersonActivity" />
        <activity android:name=".profile.SetProfilePersonActivity" />
        <activity android:name=".update.UpdateUser" />
        <activity android:name=".models.Profile" />
        <activity android:name=".dashboard.AdminUserDashboardActivity" />
        <activity android:name=".dashboard.AdminDashboardActivity" />
        <activity android:name=".register.RegisterUsersActivity" />
        <activity android:name=".register.RegisterPersonActivity" />
        <activity android:name=".maps.report.ReportInfoActivity" />
        <activity android:name=".LoginActivity" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/gray" />
    </application>

</manifest>