<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiek.unipr.mostwantedapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MostWantedApp">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--
Set custom default icon. This is used when no icon is set for incoming notifications messages.
See README(https://goo.gl/l4GJaQ) for more.
 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app" />
        <!--
 Set color used with incoming notifications messages. This is used when no color is set for the incoming
             notifications message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/gray" />

        <activity
            android:name=".activity.dashboard.AnonymousDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.maps.user.MapsInformerActivity"
            android:exported="false"

            android:label="@string/title_activity_maps_informer" />

        <activity
            android:name=".activity.SetProfileUserActivity"
            android:exported="false" />

        <activity
            android:name=".activity.auth.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".activity.auth.PhoneSignInActivity"
            android:exported="false" />

        <activity
            android:name=".activity.dashboard.UserDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".activity.GetStartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.maps.admin.MapsActivity"
            android:exported="true"

            android:label="@string/title_activity_maps" />

        <activity android:name=".activity.dashboard.AdminDashboardActivity" />

        <activity android:name=".activity.LoginActivity" />

        <activity android:name="io.card.payment.DataEntryActivity" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />

        <service android:name=".services.UserNotificationService" />
        <service android:name=".services.UserSaveNotificationService" />

        <service android:name=".services.AdminNotificationService" />
        <service android:name=".services.AdminSaveNotificationService" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <receiver android:name=".services.AdminNotificationServiceReceiver">
            <intent-filter>
                <action android:name="receiver_admin"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".services.UserNotificationServiceReceiver">
            <intent-filter>
                <action android:name="receiver_user"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>